/*-------------------- 
BASE ELEMENT STYLES 
--------------------*/

* {
	box-sizing: border-box;
}

body {
	background-color: silver;
	font-family: 'Montserrat',sans-serif;
}

h3 {
	margin-bottom: 10px;
}

a {
	color: #000;
	text-decoration: none;
}

.profile-img {
	margin: auto 0;
  	max-width: 65%;
}

.gallery-pic {
	margin: 0 auto;
  	max-width: 95%;
  
}

/*------------------- 
BASE LAYOUT STYLES 
--------------------*/
li {
	font-weight: bold;
	text-transform: uppercase;
}

ul{
	padding-left: 0;
}


.main-nav li {
	border: 2px dotted white;
	list-style-type: none;
	margin-top: 20px;
	padding: 5px;
}

.wrapper {
	display: inline;
	padding: 10px;
	text-align: center;
}

.profile {
	margin: 50px 0 50px 0;
}

.col {
	font-family: 'Open Sans', sans-serif;
	padding: 10px 0;
}

.gallery {
	margin: 0 auto;
}

.contact {
	margin-bottom: 55px;
}

.contact p{
	margin: 0;
}

/*----footer----*/
.footer-wrap {
	padding: 20px 0;
}

.footer-nav {
	display: none;
}

h5 {
	float: left;
	margin: auto 0;
}

.back-to-top {
	float: right;
	font-weight: bold;
}

/*-------------- 
MEDIA QUERIES
--------------*/
@media (min-width: 768px) {


	header h1 {
		margin-bottom: 0;
	}

	nav li {
		background: none;
		display: inline-block;
		margin: 0 20px;
		padding-left: 30px;

	}

	nav ul {
		display: inline-block;
		margin: 0 0 50px 0;
	}

	.main-nav li{
		border: none;
	}

	.profile,
	.portfolio,
	.contact,
	.col p, 
	.footer-nav ul {
		margin: 0 auto;
	}

	.profile {
		margin-bottom: 40px;
		width: 100%;
	}

	.profile-img {
		float: right;
		width: 300px;
	}

	.info {
		float: left;
		font-size: 1.20em;	
		line-height: 1.25;
		text-align: left;
		width: 400px;
	}

	.col p {
		text-align: center;
		width: 80%;
	}

	.left {
		float: left;
		width: 50%;
	}

	.right {
		float: right;
		width: 50%;
	}

	 .portfolio {
	 	border: 2px dotted white;
	 	margin-bottom: 20px;
	 	padding-bottom: 50px;
  	}

  	.contact {
  		margin-bottom: 50px;
  	}

  	.contact p {
  		font-size: 1.20em;
  	}

  	.contact-info{
  		line-height: 1.5em;
  	}

	.back-to-top {
		display: none;
	}

	.footer-wrap {
		padding-bottom: 0;
		width: 100%;
	}

	.footer-nav {
    	display: inline-block;
    	float: right;
   }

   .footer-nav ul {
   		display: inline-block;
   		float: right;
   }

    .wrapper, .left {
    	clear: both;
		content: "";
		display: table;
	}
	
}

@media (min-width: 1024px) {

	header h1 {
		float: left;
	}

	nav ul {
		float: right;
	}

	.profile-img {
		width: 35%;
	}

	.info {
		font-size: 1.75em;
		padding-right: 10px;
		width: 60%;
	}

	.left {
		clear: none;
	}
	.col {
		height: 400px;
		width: 33.333%;
	}

	.travel,
	.market,
	.cal,
	.map,
	.search {
		float: left;
	}

	.contact p {
		font-size: 1.25em;

	}

	.contact {
		width: 65%;
	}

}
	





